body {
    display: block;
    padding: 20px;
    margin: 30px 50px;
    border: 3px solid black;
    border-radius: 15px;
    height: fit-content;
}

header {
    display: flex;
    justify-content: space-between;
    width: 90%;
    flex-wrap: wrap;
    margin: auto;
    align-items: center;
    height: fit-content;
}

header nav {
    color: purple;
}

.main {
    width: 100%;
    margin: 5% 0 25% 0;
}

.main-for-questions {
    margin: 5% 10% 20% 25%;
}

.main-for-questions h1 {
    font-weight: bolder;
}

.start-page-head-and-prompt {
    width: 50%;
    text-align: center;
    margin: auto;
}

.start-button {
    background-color: navy;
    color: white;
}
button {
    height: 40px;
    width: 100px;
    border-radius: 5px;
    font-size: large;
}
.start-button:hover {
    background-color: purple;
}

.q-and-a {
    list-style-position: inside;
}

.q-and-a h1 {
    font-size: 2vw;
    font-weight: bold;
}

.q-and-a ol {
    padding-inline-start: 0;
    width: 40%
}

.answer {
    width: 35%;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    height: fit-content;
    font-size: larger;
}

.selectable {
    background-color: navy;
    color: white;
}
.selectable:hover {
    background-color: purple;
    color: white;
}
.button-container {
    display: flex;
    justify-content: center;
}
.correctness h2 {
    font-style: italic;
    color: gray;
    border-top: 1px solid gray;
    font-weight: initial;
    font-size: larger;
}

.submit-initials {
  outline: none;
  border: none;
  border-radius: 5px;
  box-shadow: 0 3px var(--grey);
  width:fit-content;
  height: fit-content;
}

.high-score-div {
    background-color: lightgray;
    margin: 1px;
    width: 70%;
    height: fit-content;
}

.go-back {
    margin-right: 5px;
}

.clear-scores {
    padding: 3px;
    width: fit-content;
}

@media screen and (max-width: 1646px) {
    .answer {
        height: auto;
        width: auto;
    }
}

@media screen and (max-width: 787px) {
    .start-page-head-and-prompt {
        width: 80%;
    }

    .q-and-a {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .q-and-a h1 {
        font-size: x-large;
    }

    .q-and-a ol {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .correctness {
        text-align: center;
    }

    .main-for-questions {
        margin: 0;
    }

    .answer {
        width: 300px;
    }
}

@media screen and (max-width: 350px) {
    header {
        display: block;
        margin: auto;
        text-align: center;
    }

    header > * {
        margin: 10px;
    }

    body {
        margin-right: 30px;
    }

    .main-for-questions {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .main-for-questions div {
        width: fit-content;
    }

    .q-and-a {
        width: 100%;
    }

    button {
        height: 40px;
    }

    .submit-initials {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }

    .high-score-div {
        width: 100%;
    }

    .clear-scores {
        height: fit-content;
    }
}